[package]
authors = ["Florian Lemaitre <flemaitre@aneo.fr>"]
description = "Rust bindings for the ArmoniK API"
edition = "2021"
include = ["**/*.rs", "Cargo.toml", "LICENSE", "README.md", "protos/**"]
license = "Apache-2.0"
readme = "README.md"
name = "armonik"
repository = "https://github.com/aneoconsulting/ArmoniK.Api"
version = "3.28.1-beta-0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["client"]
serde = ["dep:serde"]
client = ["_gen-client"]
server = ["_gen-server"]
agent = ["_gen-client", "_gen-server"]
worker = ["_gen-client", "_gen-server"]
_gen-client = ["tonic/channel", "dep:rustls", "dep:hyper-rustls", "dep:hyper"]
_gen-server = ["tonic/server", "tonic/router", "dep:tokio"]

[dependencies]
tonic = { version = "0.14.2", features = [
  "codegen",
], default-features = false }
tonic-prost = "0.14.2"
prost = "0.14"
prost-types = "0.14"
futures = "0.3.31"
snafu = "0.8.9"
tracing = "0.1.44"
tracing-futures = { version = "0.2.5", features = ["futures-03"] }
hyper = { version = "1.8.1", features = [
  "client",
  "http1",
  "http2",
], optional = true }
hyper-rustls = { version = "0.27.7", features = [
  "http1",
  "http2",
  "native-tokio",
  "tls12",
  "logging",
], default-features = false, optional = true }
rustls = { version = "0.23.35", features = [
  "ring",
  "logging",
  "std",
  "tls12",
], default-features = false, optional = true }
tokio = { version = "1.49.0", default-features = false, optional = true }
serde = { version = "1.0.228", features = [
  "derive",
], default-features = false, optional = true }

[dev-dependencies]
eyre = "0.6.12"
tracing-subscriber = { version = "0.3.22", features = ["env-filter", "fmt"] }
hyper-util = { version = "0.1.19", features = ["client", "http1"] }
http-body-util = "0.1.3"
serde_json = "1.0.148"
serial_test = "3.2"
async-stream = "0.3.6"
tokio = { version = "1.49.0", features = [
  "rt-multi-thread",
  "macros",
  "sync",
  "time",
] }
tokio-util = "0.7.17"

[build-dependencies]
tonic-prost-build = "0.14.2"

[[test]]
name = "agent"
required-features = ["agent", "worker"]

[[test]]
name = "applications"
required-features = ["client", "server"]

[[test]]
name = "auth"
required-features = ["client", "server"]

[[test]]
name = "events"
required-features = ["client", "server"]

[[test]]
name = "partitions"
required-features = ["client", "server"]

[[test]]
name = "results"
required-features = ["client", "server"]

[[test]]
name = "sessions"
required-features = ["client", "server"]

[[test]]
name = "submitter"
required-features = ["client", "server"]

[[test]]
name = "tasks"
required-features = ["client", "server"]

[[test]]
name = "versions"
required-features = ["client", "server"]

[[test]]
name = "worker"
required-features = ["agent", "worker"]
