# Ignore everything


# Allow files and directories
# Example : 
# !**/ArmoniK.Api.Common

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/*.obj
**/obj
**/bin
**/*.o
**/*.a
**/*.so
**/*.lib
**/build*
**/.build*
**/gen
**/install*
**/.git
**/.github
**/.vs
**/.vscode
**/Api
**/.docs
**/out
**/grpc
**/win64
**/tools/tools
**/.classpath
**/.dockerignore
**/Dockerfile
**/.env
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.dump
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
docker-compose
**/node_modules
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/publish
terraform
tmp


