name: CI

on:
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify-versions:
    name: Verify Versions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: npm i -g pnpm @antfu/ni

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm

      - name: Install Dependencies
        run: nci

      - name: Verify Versions
        run: nr verify-versions

  format-csharp:
    name: Format C#
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          submodules: true

      - name: Install .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.x

      - name: Install ReSharper
        run: |
          dotnet tool install -g JetBrains.ReSharper.GlobalTools --version 2022.2.2

      - name: Restore
        run: |
          cd packages/csharp
          dotnet restore ArmoniK.Api.sln

      - name: Reformat
        run: |
          cd packages/csharp
          jb cleanupcode ArmoniK.Api.sln

      - name: Check Diff
        run: |
          DIFF="$(git diff --name-only)"

          if [ -z "$DIFF" ]; then
            echo "OK: Format is clean"
          else
            echo "Error: Format was not clean"
            echo "List of files:"
            echo "$DIFF"
            git diff
            exit 1
          fi

  format-cpp:
    name: Format C++
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Run clang-format
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format

      - name: Check Diff
        id: check-diff
        run: |
          git ls-files *.{c,h,hpp,cpp,cc} | xargs clang-format -style=google -i
          DIFF="$(git diff --name-only)"

          if [ -z "$DIFF" ]; then
          echo "OK: Format is clean"
          else
            echo "Error: Format was not clean"
            echo "List of files:"
            echo "$DIFF"
            git diff
            exit 1
          fi

      - name: Generate patch
        if: ${{ failure() && steps.check-diff.conclusion == 'failure' }}
        run: |
          git diff > patch-cpp.diff
      - uses: actions/upload-artifact@v3
        if: ${{ failure() && steps.check-diff.conclusion == 'failure' }}
        with:
          name: patch-cpp
          path: ./patch-cpp.diff

  format-protobuf:
    name: Format Protobuf
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          submodules: true

      - name: Check Diff
        run: docker run --rm --volume "$(pwd)/Protos/V1:/workspace" --workdir /workspace bufbuild/buf:1.8.0 format -d --exit-code

  build-web:
    name: Build Web
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/web
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: npm i -g pnpm @antfu/ni

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm

      - name: Install Dependencies
        run: nci

      - name: Install Protoc
        run: sudo apt install -y protobuf-compiler

      - name: Build protos
        run: nr proto:generate:linux

      - name: Build
        run: nr build

  build-angular:
    name: Build Angular
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/angular
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: npm i -g pnpm @antfu/ni

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm

      - name: Install Dependencies
        run: nci

      - name: Install Protoc
        run: sudo apt install -y protobuf-compiler

      - name: Build protos
        run: nr proto:generate:linux

      - name: Build
        run: nr build

  build-test-python:
    name: Build and test Python
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/python
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: pip update and add build package
        run: bash proto2python.sh ~/pyvenv
      
      - name: Install dependencies
        run: pip install "$(echo pkg/armonik*.whl)[tests]"

      - name: Run tests
        run: python -m pytest tests --cov=armonik --cov-config=.coveragerc --cov-report=term-missing --cov-report xml:coverage.xml --cov-report html:coverage_report
      
      - name: Get Cover 
        uses: orgoro/coverage@v3
        with:
          coverageFile: packages/python/coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive code coverage results html
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report-html
          path: packages/python/coverage_report

      - name: Archive code coverage results xml
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report-xml
          path: packages/python/coverage.xml

  build-cpp-packages:
    name: Release C++ Packages
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Build the package
        run: |
          cd packages/cpp/tools/
          ./compile.sh

      - name: Run the client
        run: |
          cd ../build/Armonik.Api.Client.Tests
          ./Armonik.Api.Client.Tests