name: Release Packages

permissions:
  contents: write

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  release-csharp-packages:
    name: Release C# Packages
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - packages/csharp/ArmoniK.Api.Common.Channel/ArmoniK.Api.Common.Channel.csproj
          - packages/csharp/ArmoniK.Api.Common/ArmoniK.Api.Common.csproj
          - packages/csharp/ArmoniK.Api.Core/ArmoniK.Api.Core.csproj
          - packages/csharp/ArmoniK.Api.Client/ArmoniK.Api.Client.csproj
          - packages/csharp/ArmoniK.Api.Worker/ArmoniK.Api.Worker.csproj
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.x

      - name: Build the package
        run: |
          dotnet build ${{ matrix.package }} -c Release

      - name: Pack the package
        run: |
          dotnet pack ${{ matrix.package }} -c Release -o /tmp/packages
          ls /tmp/packages

      - name: Push the package
        run: dotnet nuget push /tmp/packages/ArmoniK.Api.*.nupkg -k ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

  release-python-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: pip update and add build package
        run: |
          cd ./packages/python
          bash proto2python.sh ~/pyvenv

      - name: Upload as artifact
        uses: actions/upload-artifact@v3
        with:
          name: python-packages
          path: packages/python/pkg/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          print_hash: true
          packages_dir: packages/python/pkg/

      - name: Publish to PyPITest
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.DEV_PYPI_API_TOKEN }}
          print_hash: true
          packages_dir: packages/python/pkg/
          repository_url: https://test.pypi.org/legacy/

  release-angular-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          registry-url: https://registry.npmjs.org/

      - name: Install ni
        run: npm i -g @antfu/ni pnpm

      - name: Install dependencies
        run: cd packages/angular && nci && cd ../..

      - name: Install Protoc
        run: apt install -y protobuf-compiler

      - name: Build protos
        run: cd packages/angular && nr proto:generate:linux && cd ../..

      - name: Release package
        run: nr ci:publish angular dist/aneoconsultingfr/armonik.api.angular
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  release-web-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          registry-url: https://registry.npmjs.org/

      - name: Install ni
        run: npm i -g @antfu/ni pnpm

      - name: Install dependencies
        run: cd packages/web && nci && cd ../..

      - name: Install Protoc
        run: apt install -y protobuf-compiler

      - name: Build protos
        run: cd packages/web && nr proto:generate:linux && cd ../..

      - name: Release package
        run: nr ci:publish web
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  update-changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
